<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Калькулятор</title>
    <link type="text/css" rel="stylesheet"
        href="{{ url_for('static',
              filename='style.css')}}" />
    <link rel="shortcut icon" href="{{ url_for('static',
              filename='favicon.ico')}}" type="image/x-icon">
</head>
<body>
<center>
    <form method="POST">
        <input name="name1" placeholder="введите имя" type="text" value="Пользователь 1" required>
        <input name="sum1" placeholder="введите сумму" type="number" value="0" required>
        <br>
        <input name="name2" placeholder="введите имя" type="text" value="Пользователь 2" required>
        <input name="sum2" placeholder="введите сумму" type="number" value="0" required>
        <br>
        <input name="name3" placeholder="введите имя" type="text" value="Пользователь 3" required>
        <input name="sum3" placeholder="введите сумму" type="number" value="0" required>
        <br>
        <input name="name4" placeholder="введите имя" type="text" value="Пользователь 4" required>
        <input name="sum4" placeholder="введите сумму" type="number" value="0" required>
        <br>
        <input name="name5" placeholder="введите имя" type="text" value="Пользователь 5" required>
        <input name="sum5" placeholder="введите сумму" type="number" value="0" required>
        <br>
        <input name="name6" placeholder="введите имя" type="text" value="Пользователь 6" required>
        <input name="sum6" placeholder="введите сумму" type="number" value="0" required>
        <br>
        <input name="name7" placeholder="введите имя" type="text" value="Пользователь 7" required>
        <input name="sum7" placeholder="введите сумму" type="number" value="0" required>
        <br>
        <input type="submit" value="Отправить">
        <input type="reset" value="Очистить">
    </form>
</center>
</body>
</html>