<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Калькулятор</title>
    <link type="text/css" rel="stylesheet"
        href="{{ url_for('static',
              filename='style.css')}}" />
    <link rel="shortcut icon" href="{{ url_for('static',
              filename='favicon.ico')}}" type="image/x-icon">
</head>
<body>
<center>
    <form method="POST">
        <input name="name1" placeholder="введите имя" type="text" value="Риваль" required>
        <input name="summ1" placeholder="введите сумму" type="number" value="0" required>
        <br>
        <input name="name2" placeholder="введите имя" type="text" value="Василий" required>
        <input name="summ2" placeholder="введите сумму" type="number" value="0" required>
        <br>
        <input name="name3" placeholder="введите имя" type="text" value="Геннадий" required>
        <input name="summ3" placeholder="введите сумму" type="number" value="0" required>
        <br>
        <input name="name4" placeholder="введите имя" type="text" value="Егор" required>
        <input name="summ4" placeholder="введите сумму" type="number" value="0" required>
        <br>
        <input name="name5" placeholder="введите имя" type="text" value="Михаил" required>
        <input name="summ5" placeholder="введите сумму" type="number" value="0" required>
        <br>
        <input name="name6" placeholder="введите имя" type="text" value="Ильнар" required>
        <input name="summ6" placeholder="введите сумму" type="number" value="0" required>
        <br>
        <input name="name7" placeholder="введите имя" type="text" value="Дядя Саша" required>
        <input name="summ7" placeholder="введите сумму" type="number" value="0" required>
        <br>
        <input type="submit" value="Отправить">
        <input type="reset" value="Очистить">
    </form>
</center>
</body>
</html>